@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;0,8..60,800;0,8..60,900;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,500;1,8..60,600;1,8..60,700;1,8..60,800;1,8..60,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.highlighter{
    background-color: aqua;
}
.highlighter_2{
    background-color: aquamarine;
}
.highlighter_3{
    background-color: blanchedalmond;
}
.my_font{
    font-family: 'Source Serif 4', serif;
}
.signature_font{
    font-family: 'Great Vibes', cursive;
}

h1 {
    text-align: center;
    padding: 20px;
}

hr.solid {
    max-width: 100%;
}

hr.top{
    margin-top: auto;
}

hr.transparent{
    border-top: 0px none #000000;
}

.what_left{
    flex: 1;
}

.What{
    position: relative;
    flex: 2;
    top: 1.5em;
}

.container {
    margin-top: 80px;
}

.container_content{
    margin-top: 35px;
    margin-bottom: 35px;
}

.row_what {
    width: 100%;
    height: 175px;
    margin-right: auto;
}

.context {
    flex: 2;
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

.context p{
    margin-bottom: 0px
}

.card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.card h6 {
    color: grey;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

/*navbar*/
.highlighter{
    background-color: aqua;
}
.highlighter_2{
    background-color: aquamarine;
}
.highlighter_3{
    background-color: blanchedalmond;
}

.my_font{
    font-family: 'Source Serif 4', serif;
}
.signature_font{
    font-family: 'Great Vibes', cursive;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 0 -20px 150px 0 #d9d9d9;
}

.navmid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    overflow: auto;
}

.navitem{
    border: 1px solid #d9d9d9;
    border-radius: 20px;
}

.menu {
    display: flex;
}

.menumid {
    display: flex;
}


.menu div a:hover {
    color: #068FFF;
}

.menumid div a:hover {
    color: #068FFF;
}

input[type=checkbox] {
    display: none;
}

.menubar {
    display: none;
    font-size: 24px;
    user-select: none;
}

div#intro_background{
    display: flex;
    position: relative;
    width: 100%;
}
div#intro_background>img{
    width: 100%;
    height: 43rem;
    object-fit: cover;
    object-position: center;
}

div#intro_color_filter{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0%;
}

div#intro_top{
    width: 100%;
    height: 6%;
    border-bottom: 1px solid #d9d9d9;
}

div#top_right{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    height: 100%;
    color: #d9d9d9;
}

div#top_right>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 300;
}

div#top_right>div>img{
    height: 25px;
}

div#intro_middle{
    width: 100%;
    height: 88%;
}
    div#top_line{
        width: 50%;
        height: 25%;
        border-right: 1px solid #d9d9d9;
    }
    div#middle_text{
        width: 100%;
        height: 50%;
    }
    div#logo_top{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12.5%;
    }
    div#logo_top>img{
        height: 25px;
    }
    div#Quote_1{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 60%;
        color: #d9d9d9;
    }
    div#Quote_1>p{
        font-size: 50px;
    }
    div#Quote_2{
        display: flex;
        justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: #d9d9d9;
}

div#Quote_2>p{
    font-size: 20px;
    font-weight: 300;
}

div#button{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 30%;
    color: #d9d9d9;
}

div#button>p{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
    border: 1px solid #d9d9d9;
}

div#button>p:hover{
    background-color: #d9d9d9;
    color: black;
}
div#logo_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12.5%;
}

div#logo_bottom>img{
    height: 25px;
}

div#bottom_line{
    width: 50%;
    height: 25%;
    border-right: 1px solid #d9d9d9;

}

div#intro_bottom{
    width: 100%;
    height: 6%;
    border-top: 1px solid #d9d9d9;
}

.sticky-top2{
    position: sticky;
    top: 3.75em;
    z-index: 1019;
}

/*section button*/

/*intro*/
.intro {
    text-align: center;
    margin-bottom: 100px;
}

.intro h6 {
    font-size: 14px;
    margin-bottom: 50px;
    font-weight: 350;
}

.intro p {
    font-size: 2em;
}

/*top wallpaper*/
.top_wallpaper img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

/*content*/
.content{
    display: flex;
    margin-top: 100px;
}

.content_left{
    border-right: 1px solid #d9d9d9;
    width: 50%;
}

.content_left p {
    padding-right: 100px;
}

.content_right{
    padding-left: 40px;
    text-align: left;
    width: 50%;
}

.image {
    flex: 1;
    border: 1px solid red;
    text-align: center;
}

.image img {
    position: relative;
    top: 30%;
}


/*what to see*/
.content_mid{
    text-align: center;
    margin-top: 100px;
}

/*food*/
.content_food{
    margin-top: 100px;
}

/*festival*/
.content_fes{
    margin-top: 100px;
}

/*precaution*/
.precaution {
    text-align: center;
    height: 900px;
}

#topic {
    padding: 15px 10px;
    background: white;
    border-radius: 6px;
    width: 14%;
    margin-left: 43%;
    margin-right: 43%;
    top: 10%;
    position: relative;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: red;
    top: 180px;
    bottom: 50px;
    left: 50%;
    margin-left: -3px;
    opacity: 50%
}

.container_pre {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 40%;
    font-family: 'Roboto', sans-serif;
}

.cont_left {
    left: 10%;
    top: 180px;
}

.cont_right {
    left: 50%;
    top: 180px;
}

.cont_right::after {
    left: -12px;
}

.content_pre {
    padding: 15px;
    border: 1px solid red;
    position: relative;
    border-radius: 6px;
    text-align: center;
}

.content_pre h2 {
    font-weight: 500;
    font-size: 22px;
}

.content_pre p {
    font-weight: 400;
    font-size: 15px;
}

.content_pre p a {
    font-weight: 300;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    #topic {
        margin-left: 5%;
        width: 30%;
    }

    .timeline::after {
        left: 31px;
    }

    .container_pre {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .cont_left::after,
    .cont_right::after {
        left: 20px;
    }

    .cont_left {
        left: 0%;
    }

    .cont_right {
        left: 0%;
    }
}

@media screen and (max-width: 992px) {
    .navmid{
        justify-content: flex-start;
    }

    .sticky-top2{
        top: 3.68em;
    }

    .section_item{
        white-space: nowrap;
    }

    .content{
        flex-direction: column;
    }

    .content_left{
        width: 100%;
    }

    .content_right{
        padding-left: 0px;
        width: 100%;
    }

    #footer_row_1{
        width: 50%;
        border-right: 0px solid #d9d9d9 !important;
    }
    #footer_row_2{
        width: 50%;
        border-right: 0px solid #d9d9d9 !important;
    }
    #footer_row_3{
        width: 50%;
        border-right: 0px solid #d9d9d9 !important;
    }
    #footer_row_4{
        width: 50%;
        border-right: 0px solid #d9d9d9 !important;
    }
}

@media screen and (max-width: 1200px) {
  .site-icon img {
    transform: translateX(-16%);
    width: 125%;
    height: 400px;
}

.menu {
    display: none;
    position: fixed;
    margin-top: 10px;
    background-color: white;
    left: 0;
    text-align: left;
    width: 100%;
    height: 120%;
    z-index: 10;
}

.menu div {
    margin-top: 15px;
    margin-left: 20px;
}

.menu div a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.navtop #navbutton {
    display: none;
}

.menu div:hover {
    color: #068FFF;
}

input[type=checkbox]:checked~.menu {
    display: block;
}

.menubar {
    display: block;
} 
}